
body {
  font-family: Arial, sans-serif;
  margin: 10px;
  width: 200px;
  color: white;
  background: linear-gradient(109.6deg, rgb(16, 19, 24) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

h2 {
  color: #ffffff;
  text-align: center;
}

#wordCount {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

#downloadButton {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

#downloadButton:hover {
  background-color: #005299;
}

 